@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url("fonts/TitilliumWeb-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web"), local("TitilliumWeb"), url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src: local("Titillium Web Semibold"), local("TitilliumWeb-Semibold"), url("fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  src: local("Titillium Web Bold"), local("TitilliumWeb-Bold"), url("fonts/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 800;
  src: local("Titillium Web Extrabold"), local("TitilliumWeb-Extrabold"), url("fonts/TitilliumWeb-Extrabold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Titillium Web";
  height: 100%;
}

button {
  padding: 5px 10px;
  font-family: "Titillium Web";
  background-color: rgb(10,10,10);
  color: rgba(240,240,240,1);
  border: none;
  border-radius: 0;
}

.welcome-container {
  height: 100%;
  text-align: center;
}

.grid-container {
  position: absolute;
  vertical-align: middle;
  background: rgba(0,0,0,0.2);
}

.grid-container.grid-container--level1 {
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

.grid-container.grid-container--level2 {
  width: 250px;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
}

.grid-container.grid-container--level3 {
  width: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
}

.grid-container.grid-container--level4 {
  width: 450px;
  top: calc(50% - 225px);
  left: calc(50% - 225px);
}

.grid-item {
  height: 50px;
  width: 50px;
  float: left;
  border: #000 1px solid;
  box-sizing: border-box;
}

.grid-logo {
  background: #fff;
}

.client {
  background-color: rgba(0, 255, 0, 0.5);
}

.fraudster {
  background-color: rgba(255, 0, 0, 0.5);
}

.super-fraudster {
  background-color: rgba(255, 0, 0, 0.8);
}

.super-customer {
  background-color: rgba(0, 255, 0, 0.8);
}

.score {
  text-align: center;
  margin-top: 20px;
}

.reset {
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 15px;
}

.end-game {
  position: absolute;
  bottom: 20px;
  width: 80px;
  left: calc(50% - 40px);
}

.result-graph {
  display: flex;
  flex-direction: row;
  margin: 50px 10%;
}

.result-graph .left-side, .result-graph .right-side {
  flex: 1;
}

.result-graph .left-side {
  text-align: right;
}

.result-graph .right-side {
  text-align: left;
}

.result-graph .seperator {
  margin: 0 5px;
  width: 2px;
  background-color: #000;
}

.result-graph .bar {
  height: 20px;
  background-color: #000;
}

.playing-time {
  text-align: center;
}

.scoreing-container {
  text-align: center;
  margin-top: 50px;
}

.player-scores-label {
  margin-top: 20px;
}

button:focus {
  outline: none;
}
